<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>18</title>
</head>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>

<body>
    <div id="app1">
        <h1>{{ message }}</h1>
    
        <custom-input v-model="message" ></custom-input>
    </div>
<br>
==========================================================
    <div id="app">
        <input type="text" v-model="msg">
    
        <list-component></list-component>
    </div>
    

    <div id="app3">
        <h1>Total: {{ sum }}</h1>
    
        <button-counter @add-sum="plus"></button-counter>
        <button-counter @add-sum="plus"></button-counter>
        <button-reset @set="reset"></button-reset>
    </div>

</body>
<script src="vue/vue_eighteenth.js"></script>
</html>