<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13</title>
</head>
<script src="https://unpkg.com/vue@3"></script>
<body>
    <div id="app1">
        <label>Here it go!</label>
        <p>{{items}}</p>
        <input type="text" v-model="text" placeholder="type here">
        <button @click="changeval">Click and update</button>
    </div>

    <div id="app2">
        <p>{{message}}</p>
    </div>

    <div id="app3">
        <p>{{call}}</p>
        <p>{{msg}}</p>
    </div>

    <div id="app4">
        <div :style="column" >
            <div v-for="m in message">{{m}}</div>
        </div>
        <input type="text" placeholder="Type here plz" v-model.trim="add" @keydown.enter="addmsg">
    </div>
</body>
<script src="vue/vue_thirteenth.js"></script>
</html>