<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20</title>
    <style>
        .app22 {
            width: 150px;
            height: auto;
            background-color: grey;
            border: 1px solid black;
        }
        .op{
            background-color: grey;
            border: 1px solid black;
            border-radius: 3px;
            margin-left: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<script src="https://unpkg.com/vue@3"></script>

<body>
    <div id="app" class="app22">
        <h1>{{msg}}</h1>
        <br>
        <app-component></app-component>
    </div>
<hr>
<br>
    <div id="app1">
        <label v-for="op in ops" class="op">
            <input type="radio" :value="op" v-model="slot_name">{{op}}
        </label>
        <light-box>
            <template v-slot:[slot_name]>
                <h1>好棒！</h1>
            </template>
            <!-- <template v-slot:footer>
                <h1>這是footer</h1>
            </template>
            <template v-slot:body>
                <div><a href="https://www.instagram.com/?theme=dark" target="_blank">購買鏈接</a></div>
            </template>  -->
        </light-box>
    </div>

    <div id="app2">
        <p>
            請選擇:
            <select v-model="lang">
                <option v-for="n in langOptions" :value="n.val">     
                    {{ n.name }}
                </option>
            </select>
        </p>
    
        <light-box :lang="lang">
            <template v-slot:default="{ hello }">
                {{ langOptions.find(d => d.val === lang)['name'] }}:
                {{ hello }}
            </template>
        </light-box>
    </div>

</body>
<script src="vue/vue_tweentieth.js"></script>

</html>