<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue_Review</title>
    <style>
        .error {
            font-size: 50px;
            color: red;
            font-size: bold;
        }
    </style>
</head>
<script src="https://unpkg.com/vue@3"></script>

<body>
    <!-- <div id="temp"></div> -->
    <!-- <div id="app1">
        <div>台幣<input type="text" v-model="twd"></div>
        <div>日幣<input type="text" v-model="jpy"></div>

        <div v-bind:id="customerid"><p></p></div>
    </div>

    <div id="app2">

        <input type="radio" value="1" v-model="picked"> one
    </div>

    <div id="app3">

        <input type="checkbox" value="1"  v-model="picked">taiwan
        <input type="checkbox" value="2" v-model="picked">china
        <input type="checkbox" value="3" v-model="picked">singapore
        <input type="checkbox" value="4" v-model="picked">usa
        <input type="checkbox" value="5" v-model="picked">uk
    </div>

    <div id="app4">
        <select v-model="selected">
            <option disabled value="" >Please choose one</option>
            <option value="Tainan">Tainan</option>
            <option value="kaohsiong">kaohsiong</option>
            <option value="Taipei">Taipei</option>
            <option value="Taizhung">Taizhung</option>
        </select>
        <p>You picked : {{ selected }}</p>

    </div> -->
    <div id="app1">
        <p v-text="text">nice</p>
        <p v-html="text1">nice</p>
        <input type="text" v-model.trim="message" placeholder="Type here" v-bind:class="{'error':message.length>=8}"> Please type this column
    </div>

    <div id="app2">
        <input v-model.number="amount">
        <p>Count : {{count}}</p>
        <button v-on:click="plus(amount,$event)">Click me</button>
    </div>
    <br>

    <div id="app3">
        <div :style="column">
            <div v-for="m in message">{{m}} </div>
        </div>
        <input type="text" v-model.trim="add" placeholder="type here..." @keydown.enter="addmessage">

    </div>

    <div id="app4">
        <div>
            <label>
                <h1>To do list</h1>
            </label>
            <ul>
                <li v-for="(i,index) in todolist" :key="i.id">
                    <label><input type="checkbox" v-model="i.isdone">{{i.title}}</label>
                </li>
            </ul>
        </div>

        <div>
            <label>
                <h1>Done list</h1>
            </label>
            <ul>
                <li v-for="i in donelist" :key="i.id">
                    <label><input type="checkbox" v-model="i.isdone">{{i.title}}</label>
                </li>
            </ul>
        </div>
    </div>

    <script src="vue/vue_review.js"></script>
</body>

</html>